.sliding-puzzle td{
	border:1px solid;

}
.sliding-puzzle{
	background: yellow;
    margin: 0 auto;
    margin-top:5%;
}

@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:46%; top:0px;}
    50%  {background-color:blue; left:46%; top:0px;}
    75%  {background-color:green; left:46%; top:0px;}
    100% {background-color:#5bc0de; left:46%; top:0px;}
}

.btn-info {

     position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: initial;
    animation-delay: 1s;
    animation-fill-mode: forwards
}